* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #ff44ab;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.menu-toggle {
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: antiquewhite;
}

.content {
    padding: 20px;
}

@media (max-width: 768px) {
    /* Show hamburger icon */
    .menu-toggle {
        display: block;
    }

    /* Hide menu by default on mobile */
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #d72889;
        top: 60px;
        left: 0;
        right: 0;
        z-index: 1;
        padding: 20px 0;
    }

    /* Show menu when active */
    .menu.active {
        display: flex;
    }

    /* Adjust menu list */
    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }
}